<div class="content-wrapper">
  <div class="content-heading">
    Dashboard
  </div>
  <!-- START widgets box-->
  <div class="row">
    <div class="col-lg-3 col-sm-6">
      <div class="panel widget bg-primary">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-primary-dark pv-lg">
             <i class="fa fa-retweet fa-3x" aria-hidden="true"></i>
          </div>
          <div class="col-xs-8 pv-lg">
             <div class="h2 mt0"><%= @retweets_today %></div>
             <div class="text-uppercase">Retweets</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <!-- START widget-->
      <div class="panel widget bg-purple">
         <div class="row row-table">
            <div class="col-xs-4 text-center bg-purple-dark pv-lg">
               <em class="icon-heart fa-3x"></em>
            </div>
            <div class="col-xs-8 pv-lg">
               <div class="h2 mt0"><%= @favorites_today %>
               </div>
               <div class="text-uppercase">Favorites</div>
            </div>
         </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START widget-->
      <div class="panel widget bg-green">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-green-dark pv-lg">
             <em class="icon-bubbles fa-3x"></em>
          </div>
          <div class="col-xs-8 pv-lg">
             <div class="h2 mt0"><%= @mentions_today %></div>
             <div class="text-uppercase">Mentions</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-12">
      <!-- START date widget-->
      <div class="panel widget">
        <div class="row row-table">
          <div class="col-xs-4 text-center bg-green pv-lg">
            <!-- See formats: https://docs.angularjs.org/api/ng/filter/date-->
            <div data-now="" data-format="MMMM" class="text-sm"></div>
            <br>
            <div data-now="" data-format="D" class="h2 mt0"></div>
          </div>
          <div class="col-xs-8 pv-lg">
            <div data-now="" data-format="dddd" class="text-uppercase"></div>
            <br>
            <div data-now="" data-format="h:mm" class="h2 mt0"></div>
            <div data-now="" data-format="a" class="text-muted text-sm"></div>
          </div>
        </div>
      </div>
      <!-- END date widget    -->
    </div>
  </div>
  <!-- END widgets box-->
  <div class="row" ng-app='app'>
    <div class="col-lg-9">
      <div class="row">
        <div class="col-lg-12">
          <div id="panelChart2" class="panel panel-default panel demo" ng-controller='dashboardCtrl' ng-init="setup()">
            <a href='/charts'>
            <%= high_chart("chart-1", @chart1) %>
            </a>
            </div>
          </div>      
        </div>
        <!-- END chart-->
        <!-- START multiple list group -->
         <div class="content-wrapper">
          <div ng-controller="tweetsCtrl" ng-init="setup()">
            <h1>Recent Tweets</h1>
            <div class="list-group">
              <div class="list-group-item" style='background-color:#F9FAFB'>
                <table class="wd-wide">
                  <tbody>
                    <tr class='tweet-menu'>
                      <td class="wd-xs">
                        <div class="ph">
                          <p class="m0">Image</p>
                        </div>
                      </td>
                      <td>
                        <div class="ph">
                           <p class="m0" ng-click="changeOrderAttribute('text')">Text</p>
                        </div>
                      </td>
                      <td class="wd-sm hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0" ng-click="changeOrderAttribute('created_on')">
                            <a href="javascript:void(0)"> Date</a>
                          </p>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0" ng-click="changeOrderAttribute('retweet_count')">
                            <a href="javascript:void(0)"> Retweets</a>
                          </p>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0" ng-click="changeOrderAttribute('favorites_count')">
                            <a href="javascript:void(0)"> Favorites</a>
                          </p>
                        </div>
                      </td>
                      <td class="wd-sm">
                        <div class="ph">
                           <progressbar value="80" type="success" class="m0 progress-xs" ng-click="changeOrderAttribute('rank')">
                            <a href="javascript:void(0)"> Sweetness</a>
                           </progressbar>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div style='height:20px'>      
            </div>
            <div class="list-group" ng-repeat="tweet in tweets | orderBy:orderAttribute:sortDir | limitTo:5">            
              <a href="#" class="list-group-item">
                <table class="wd-wide">
                  <tbody>
                    <tr>
                      <td class="wd-xs">
                        <div class="ph" ng-if="tweet.media[0].media_url">
                          <img style='border-color:green' src="{{ tweet.media[0].media_url }}" class="media-box-object img-responsive img-rounded thumb64">
                        </div>
                      </td>
                      <td>
                        <div class="ph">
                          <small class="text-muted">{{ tweet.text }}</small>
                        </div>
                      </td>
                      <td class="wd-sm hidden-xs hidden-sm">
                        <div class="ph">                               
                          <small class="text-muted">{{ tweet.created_at | date : format : 'M' }}</small>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0 text-muted">
                            {{ tweet.retweet_count }}
                          </p>
                        </div>
                      </td>
                      <td class="wd-xs hidden-xs hidden-sm">
                        <div class="ph">
                          <p class="m0 text-muted">{{ tweet.favorites_count }}</p>
                        </div>
                      </td>
                      <td class="wd-sm">
                        <div class="ph">
                          <progressbar value="80%" type="success" class="m0 progress-xs">{{ tweet.favorites_count + (tweet.retweet_count * 2) }}</progressbar>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </a>
            </div>
          </div>  
        </div>   
      </div>
      <!-- END dashboard main content-->
      <!-- START dashboard sidebar-->
      <aside class="col-lg-3">
        <!-- START loader widget-->
        
        <!-- END loader widget-->
        <!-- START messages and activity-->
        <div class="panel panel-default">
           <div class="panel-heading">
              <div class="panel-title">Pending Pages</div>
           </div>
           <!-- START list group-->
           <div class="list-group">
              <!-- START list group item-->
              
              <!-- END list group item-->
              <!-- START list group item-->
              <% @pending_pages.each do |page| %>
                <div class="list-group-item">
                   <div class="media-box">
                      <div class="pull-left">
                         <span class="fa-stack">
                            <em class="fa fa-circle fa-stack-2x text-info"></em>
                            <em class="fa fa-file-text-o fa-stack-1x fa-inverse text-white"></em>
                         </span>
                      </div>
                      <div class="media-box-body clearfix">                      
                         <div class="media-box-heading">
                          <a href="/pages" class="text-info m0" title="<%= page.long_url %>">
                            <%= truncate(page.long_url, :length => 32) %>
                          </a>
                         </div>             
                      </div>
                   </div>
                </div>
              <% end %>
           </div>                     
           <!-- END panel-footer-->
        </div>
        <div class='panel panel-defualt'>
          <div class="panel-heading">
            <div class="panel-title">Pending Pages</div>
          </div>
          <div>
            <h3 class="text-center text-thin">Recent Followers</h3>
            <ul class="nav">  
              <% @followers.each do |follower| %>          
                <li>
                   <!-- START User status-->
                   <a href="<%= follower.profile_page %>" target="_blank" class="media-box p mt0">
                      <span class="pull-right">
                         <span class="circle circle-success circle-lg"></span>
                      </span>
                      <span class="pull-left">
                         <!-- Contact avatar-->
                         <img src="<%= follower.profile_image %>" alt="Image" class="media-box-object img-circle thumb48">
                      </span>
                      <!-- Contact info-->
                      <span class="media-box-body">
                         <span class="media-box-heading">
                            <strong><%= follower.name %></strong>
                            <br>
                            <small class="text-muted">Designeer</small>
                         </span>
                      </span>
                   </a>
                   <!-- END User status-->               
                </li>
              <% end %>                     
            </ul>
          </div>
        </div>
        <!-- END messages and activity-->
     </aside>
     <!-- END dashboard sidebar-->
  </div>
</div>