<div class='row' ng-app="app">
  <div ng-controller="tweetsCtrl">
    <div class='composer col-xs-12 col-md-4'>
      <h2>Tweet Composer</h2>
      <%= form_for :tweet, url: "/tweets?page_id=#{@page.id}", method: :post do |f| %>
        <%= f.text_area :message, 
                        :value => @message, 
                        "ng-init" => "message='#{@message}'; addCount();", 
                        "ng-model" => "message", 
                        "ng-change" => "changeCount()"  
        %>
        <div class='added-image'>
          <img id='image-thumb' class='hidden' src="<%= @image %>">
        </div>
        <div>
          <%= f.submit "Send Tweet", class: 'btn btn-large btn-success send-tweet' %>
          <div>Characters Left: <span id='word-count'>{{wordCount}}</span></div>
        </div>  
      <% end %>
    </div>
    <div class='tweet-img col-xs-12 col-md-4'>
      <div id='image-preview'>
        <img id='image' src="<%= @image %>">
      </div>
      <button id='add-image' align='center' class='btn btn-large btn-danger' ng-click="addImage()">Add Image</button>
      <button id='remove-image' align='center' class='btn btn-large btn-warning hidden' ng-click="removeImage()">Remove Image</button>
      <input type='hidden' id='image-input' value='false'>
    </div>
  </div>
</div>