<div class='row'>
  <div style='padding-left:35px' class='col-xs-12'>
    <h3>Click a pending page to auto-compose a tweet or submit a url below</h3>
    <hr>
  </div>
</div>
<div class='row'>
  <div class='pending-pages col-md-4'>
    <h2>Pending Pages:</h2>
    <% @pages.each do |page| %>
      <hr>
      <%= form_tag '/pages', method: :patch do %>  
        <div>
          <%= hidden_field_tag :long_url, page.long_url %>
          <%= hidden_field_tag :id, page.id %>
          <span class='pending-page'>
            <%= submit_tag truncate(page.long_url, :length => 50), {title: page.long_url} %>
          </span>  
        </div>
      <% end %>
    <% end %>
  </div>
  <div class='url-input col-md-4'>    
    <%= form_tag '/pages', method: :post do %>
        Enter Url: 
        <%= text_field_tag :long_url %>
        <%= submit_tag "Submit URL", {class: 'submit-url-btn'} %>
    <% end %>
  </div>
</div>