<div class='row'>
  <div class='col-xs-12'>
    <div class='url-input'>
      <h4>Click on a url to auto-compose a tweet or enter a url below</h4>
      <%= form_tag '/pages', method: :post do %>
        <div>
          <%= label_tag :long_url %>
          <%= text_field_tag :long_url %>
        </div>
        <div>
          <%= submit_tag "Submit URL" %>
        </div>
      <% end %>
    </div>
  <hr>
  </div>
</div>
<div class='row' ng-app="app">
  <div class='pending-pages col-md-4' ng-controller="pagesCtrl" ng-init="setup()">
    <h2>Pending Pages:</h2>
    <% @pages.each do |page| %>
        <hr>
        <h4><%= page.long_url %></h4>
        <%= form_tag '/pages', method: :patch do %>  
          <div>
            <%= hidden_field_tag :long_url, page.long_url %>
            <%= hidden_field_tag :id, page.id %>
            <%= submit_tag page.long_url %>
          </div>
        <% end %>
      <% end %>
  </div>
</div>
